// Визуально скрывает элемент
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

// Запрет сролла body при открытом мобильном меню
.no-scroll {
  overflow: hidden;
}
